extends layout

block content
    div(class=" mt-10 text-white text-3xl flex justify-center font-bold")
        h3 #{title}
    div(class="mt-6 text-white text-l flex flex-col font-bold")
        p(class="flex justify-center") To reset your password, please enter your email address
        p(class="flex justify-center") We will send the password reset instructions to the email address for this account
    div(class="m-8")
      div(class="mb-10 flex justify-center")
        form(class="flex flex-col w-3/6" method="POST" action="")
          div(class="mb-6")
            label(class="text-white" for='email') Email Address:
            input(type="email" name="email" id="email" placeholder="Enter your email" class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600")
          button(class="cursor-pointer py-2 px-4 block bg-indigo-500 text-white font-bold w-full text-center rounded" type='submit') Submit
    if errors
        ul(class="mt-20 flex justify-center")
            for error in errors
                li(class="text-white") #{error.msg}